.bwx-search-box {
    width: 220px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.16);
    position: relative;
    .bwx-search-box__input {
        width: 100%;
        height: 100%;
        padding-left: 12px;
        background-color: transparent;
        outline: none;
        border: none;
        color: #fff;
        margin-top: -2px;
    }
    .bwx-search-bwx__icon {
        font-size: 14px;
        margin-right: 8px;
        line-height: 20px;
        i {
            font-size: 14px;
            color: rgba(255, 255, 255,0.6)
        }
        .highlight-color {
            color: #fff;
        }
    }
}