.bwx-setting-items {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row-reverse;
    margin-right: 15px;
    height: 100%;
    .setting-userinfo {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    .setting-icon {
        cursor: pointer;
        margin-left: 8px;
        font-size: 16px;
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
    .special-set {
        margin: 0 10px;
        cursor: pointer;
    }
    .userinfo-triangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color:  #fff transparent transparent transparent;
        border-width: 5px;
        margin-top: 5px;
        margin-left: 8px;
    }
    .user-icon {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #000;
        cursor: pointer;
        margin-right: 12px;
    }
}