.bwx-search-list {
    color: #666;
    width: 425px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 35px;
    background-color: #fff;
    .list-trangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent  #fff transparent;
        border-width: 8px;
        position: absolute;
        bottom: 100%;
        left: 10px;
        background-color: transparent;
        z-index: 1000;
    }
    .search-history {
        padding: 15px 20px 0;
        .history-title {
            font-size: 14px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            i {
                margin-left: 12px;
                cursor: pointer;
                font-size: 12x;
            }
        }
        .history-content {
            margin: 15px 0 30px;
            .history-content__tag {
                display: inline-block;
                padding: 0 16px;
                height: 26px;
                width: auto;
                border-radius: 26px;
                border: 1px solid #ddd;
                color: #444;
                font-size: 14px;
                line-height: 26px;
                text-align: left;
                position: relative;
                margin-right: 12px;
                &:hover {
                    cursor: pointer;
                    background-color:#e6e6e6;
                    i {
                        display: inline-block;
                        color: #666;
                    }
                }
                i {
                    position: absolute;
                    top: 1px;
                    bottom: 0;
                    margin: auto;
                    right: 4px;
                    left: auto;
                    display: none;
                    // margin-right: -4px;
                    font-size: 10px;
                }
            }
        }
    }
    .hot-list {
        .hot-title {
            padding: 0 20px;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .hot-list__content {
            .hot-list__info {
                padding: 6px 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-flow: row nowrap;
                cursor: pointer;
                &:hover {
                    background-color: #f5f5f5;
                }
                .list-info__index {
                    width: 35px;
                    text-align: left;
                    font-size: 14px;
                    &.info-ishot {
                        font-size: 16px;
                        color: red;
                    }
                }
                .list-info__container {
                    flex: 1;
                    line-height: 20px;
                    .container-title {
                        span{
                            color: #ddd;
                            margin-right: 15px;
                            &.info-title {
                                color: #222;
                                &.title-ishot {
                                    font-weight: bold;
                                }
                            }
                            &.info-hot {
                                color: red;
                                font-style: italic;
                                font-weight: bold;
                            }
                        }
                    }
                    .container-description {
                        color: #a5a5a5;
                    }
                }
            }
        }
    }
}