.bwx-header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bwx-header-left {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .bwx-header__logo {
            margin-left: 15px;
            margin-right: 60px;
            width: 120px;
        }
    }
    .bwx-header-right {
        height: 100%;
    }
}